# PlatformIO build folders
.pio/
.platformio/

# VS Code settings
.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.temp

# Compilación de Arduino
*.elf
*.bin
*.hex
*.pioenvs/
